@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* Bone */
    /* background-color: #E1E9E5 */
    /* Eggshell */
    /* background-color: #F3F4E5; */
    /* PaleNimbus */
    /* background-color: #F1F1F1; */
    /* Unhinged */
    /* --mainlight: #E1DFEA;

    background-color: var(--main); */
}
.costumeText{
    color: #ffffff;
    background: linear-gradient(45deg,#00ffff,#ff00c3);
    border: none;
   
}


.costumeText:focus {
    text-decoration: none;
  }
  
  .costumeText:hover {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0,0.2) 4px 4px 0 0,rgba(0, 0, 0,0.2) 4px 4px 0 1px;
  }
  
  .costumeText:active {
    box-shadow: rgba(0, 0, 0,0.2) 4px 4px 0 0,rgba(0, 0, 0,0.2) 4px 4px 0 1px;
    outline: 0;
  }
  
  .costumeText:not([disabled]):active {
    box-shadow: rgba(0, 0, 0,0.2) 4px 4px 0 0,rgba(0, 0, 0,0.2) 4px 4px 0 1px;
    transform: translate(2px, 2px);
  }
  
 






/* linearGradient text color */
.headTitle{
    background: linear-gradient(45deg,#00ffff,#ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.cl-formButtonPrimary{
  color: #ffffff;
  background: linear-gradient(45deg,#00ffff,#ff00c3);
  border: none;
}
.cl-internal-b3fm6y{
  color: #ffffff;
  background: linear-gradient(45deg,#00ffff,#ff00c3);
  border: none;
}



.sidebarText{
  color: #E1DFEA;
}

#logo{
  background: linear-gradient(45deg,#00ffff,#ff00c3);
  
}
